body {
    font-family: 'Poppins', sans-serif;
}

section {
    padding-top: 60px;
}

.lokasi {
    width: 100%;
    height: 60vh;
}

.resources .col-lg-4 {
    text-align: center;
}

.resources h1 {
    font-size: 40px;
}

.resources h4 {
    font-size: 20px;
    font-weight: bold;
    /* text-shadow: .5px .5px .5px#fff ; */
}

.featurette-heading {
    line-height: 1;
    letter-spacing: -.05rem;
}

#actions .container  .row .col h4{
    font-size: 20px;
}


#resources {
    background-image: url('../img/mathyas-kurmann-jnHQsTfq2Og-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    padding-bottom: 125px;
}

#project h1 {
    font-size: 36px;
}

#project h2 {
    font-size: 20px;
}

.problems {
    margin-left: 80px;
}

.solution {
    text-align: right;
    margin-right: 80px;
}


footer nav {
    background-color: #fff;

}

#explore {
    background-color: #1768AC;
    color: #fff;
}

/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 992px) {
    .featurette-heading {
        margin-top: 112px;
    }
}

@media (max-width: 768px) {
    p {
        font-size: 16px;

    }

    #actions h2 {
        font-size: 20px;
    }

    .resources h1 {
        font-size: 30px;
    }

    #resources h4 {
        font-size: 18px;
    }

    .fs-2 {
        margin-top: -30px;
        font-size: 30px;
    }

    .featurette-heading {
        font-size: 24px;
        margin-top: 25px
    }

    #project {
        margin-top: 20px;
    }

    #project h1 {
        font-size: 20px;
    }

    #project .project2 {
        margin-top: 40px;
    }

    .img-fluid {
        width: 100%;
    }

    #project .container .row .problems {
        margin-left: 0;
    }

    #project .container .row .solution {
        text-align: left;
        margin-right: 0;
    }

    #project .container .row .problems h2 {
        margin-top: 10px;
    }

    #project .container .row .solution h2 {
        text-align: left;
        margin-right: 15px;
    }

    #project .container .row .problems p {
        margin-top: -20px;
    }

    #project .container .row .solution p {
        margin-top: -20px;
    }

    footer .navbar .container-fluid {
        padding-left: -100px;
        padding-right: -100px;
    }
}


.result{
    margin-top: 10rem;
    font-size: 30px;
}

.result h2{
    font-weight: 700;
    font-size: 60px;
}
